.form__group {
  flex:1;
  margin-bottom: 15px;
}

.form__label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
  display: block;
}

.form__input,
.form__select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form__input:focus,
.form__select:focus {
  border-color: #007bff;
  outline: none;
}

.login__label{
  color: white;
}

.form__input--gris{
  color:#000000;
  background-color: rgb(153 153 153 / 26%);
}