
.search__box {
  display: none;
  position: absolute;
  top: 110%;   
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-color);
  width: 90%;
  box-shadow: var(--box-shadow);
}
.search__box.active__input{
  display: flex;
  justify-content: center;
}


.search__box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  color: var(--primary-color);
}

.search__box input::placeholder{
  font-size: 1rem;
  font-weight: 500;
}
