
.nav__item {
  position: relative;
}

.nav__link {
  text-decoration: none;
  display: block;
  font-weight: 500;
}
@media (min-width: 768px) {

  .nav__item{
    position: static;
  }
  .nav__link{
    color: var(--bg-color);
  }
}