.product__add {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.product__add:hover {
  background-color: #3f6eab; 
}
