/* Estilos del Footer */
.footer {
  display: grid;
  gap: 20px;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  text-align: center;
  font-family: Arial, sans-serif;
  position: absolute;
  width: 100%;
}
.footer.no__content {
  bottom: 0;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__contact .footer__title {
  font-size: 1.5rem;
  margin: 0;
}

.footer__contact .footer__item {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #CCCCCC;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.footer__newsletter .footer__description {
  font-size: 0.9rem;
  color: #CCCCCC;
}

.footer__newsletter-input {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 10px;
}

.footer__newsletter-input .footer__input[type="email"] {
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  flex: 1;
}

.footer__newsletter-input .footer__button {
  padding: 10px 15px;
  font-size: 0.9rem;
  color: var(--color-blanco);
  background-color: #1b64e3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer__newsletter-input .footer__button:hover {
  background-color: #225bbf;
}

.footer__copyright {
  font-size: 0.8rem;
  color: #AAAAAA;
  margin-top: 20px;
}

/* Media Query */
@media (min-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    gap: 30px;
    padding: 40px;
    text-align: left;
  }

  .footer__contact {
    grid-column: 1 / 2;
    align-items: flex-start;
  }

  .footer__newsletter {
    grid-column: 2 / 3;
    align-items: flex-start;
  }

  .footer__newsletter-input {
    justify-content: flex-start;
  }

  .footer__copyright {
    grid-column: 1 / 3;
    text-align: center;
    margin-top: 20px;
  }
}