.nav__submenu {
  display: none;
  position: relative;
  top: 100%;
  background-color: var(--bg-color);
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-height: 300px; 
  overflow-y: auto; 
}
.nav__submenu li{
  cursor: pointer;
}

.show{
  display: grid;
  margin-left:1rem;
  margin-bottom:0.5rem;
  /* max-width: 300px; */
  z-index: 1000;
}
@media (min-width: 768px) {
  .nav__submenu{
    background-color: var(--primary-color);
    grid-template-columns: repeat(3, 1fr);
    left:20%
  }
  
  .show{
    position:absolute;
    margin-top:0.5rem;
    max-width:60%
  }

}