*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-primario: #1C319B; 
  --color-secundario: #ffbd2e; 
  --color-blanco: #ffffff;
  --color-banner: #003780;
  --color-rojo: #c80404;
  --color-gris: #777777;
}
/*Estilos Header*/
header{
  background-color: var(--color-primario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px;
}
#logo img {
  max-width: 60px;
  height: auto;
}
.container-header-icons{
  display: flex;
}
#cart-icon{
  margin-left: 5px;
}
/*Estilos Banner*/
.banner{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  background-color: var(--color-banner);
}
.img-banner{
  width: 100%;
}
.img-banner img{
  width: 100%;
  height: 300px;
}
.banner-text{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
}
.banner-text h1{
  letter-spacing: 5px;
  font-size: 16px;
  color: var(--color-blanco); 
}
.banner-text h2{
  margin-left: 5px;
  font-size: 25px;
  color:var(--color-blanco);
  margin-bottom: 10px;
}
/* Estilos Categorias*/
.categorias {
  padding: 18px;
}

.categorias h2 {
  margin-bottom: 20px;
  color: var(--color-primario)
}

.carousel-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

/* Estilo de cada categoría */
.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  min-width: 100px;
}

.categoria img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%; 
  background-color: var(--color-secundario);
}

.categoria p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}
/*Estilos de las tarjetas*/
.productos {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
  padding: 18px;
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd; 
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.img-producto{
  display: flex;
  justify-content: center;
}

.img-producto img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.info-producto{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.info-producto p:first-child ,.info-producto p:last-child {
  font-size: 12px;
  color: var(--color-gris); 
}


.inferior-producto{
  display: flex;
  flex-direction: column;
}

.inferior-producto p:first-child {
  font-size: 18px;
  color: var(--color-rojo);
  font-weight: bold;
  margin: 10px 0;
}
.cantidad {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cantidad button {
  background-color: var(--color-primario); 
  color: var(--color-blanco);
  border: none;
  border-radius: 50%; 
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}
.cantidad p {
  margin: 0;
  font-size: 16px;
  color:var(--color-primario)
}

button.agregar {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: var(--color-primario);
  color: var(--color-blanco);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.agregar:hover {
  background-color: #3f6eab; 
}

/*Estilos del Footer*/
footer {
  display: grid;
  gap: 20px;
  padding: 20px;
  background-color: var(--color-primario);
  color: var(--color-blanco);
  text-align: center;
  font-family: Arial, sans-serif;
}
.contacto{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacto h2 {
  font-size: 1.5rem;
  margin: 0;
}

.contacto p {
  margin: 5px 0;
  font-size: 0.9rem;
  color:#CCCCCC;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.newsletter p {
  font-size: 0.9rem;
  color: #CCCCCC;
}

.newsletter-input {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 10px;
}

.newsletter-input input[type="email"] {
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  flex: 1;
}

.newsletter-input button {
  padding: 10px 15px;
  font-size: 0.9rem;
  color: var(--color-blanco);
  background-color: #1b64e3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter-input button:hover {
  background-color: #225bbf;
}

.copyright {
  font-size: 0.8rem;
  color: #AAAAAA;
  margin-top: 20px;
}

/* Estilos para tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  .productos {
    grid-template-columns: repeat(3, 1fr);
  }

  .carousel-container {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}

/* Estilos para desktop */
@media (min-width: 1025px) {
  .productos {
    grid-template-columns: repeat(4, 1fr);
  }
  .banner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .banner-text{
    margin-left: 10%;
    margin-top: 0;
  }
  .banner-text h1 {
    letter-spacing: 10px;
    font-size: 24px;
  }

  .banner-text h2 {
    font-size: 32px;
  }
  .img-banner {
    width: 40%; 
  }

  .img-banner img {
    max-width: 100%;
    height: auto;
  } 
  
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    gap: 30px;
    padding: 40px;
    text-align: left;
  }

  .contacto {
    grid-column: 1 / 2;
    align-items: flex-start;
  }

  .newsletter {
    grid-column: 2 / 3;
    align-items: flex-start;
  }

  .newsletter-input {
    justify-content: flex-start;
  }

  .copyright {
    grid-column: 1 / 3;
    text-align: center;
    margin-top: 20px;
  }

}